################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build
/assets/models/backpack
/assets/models/Bambo_House.mtl
/assets/models/Bambo_House.obj
/assets/models/cottage_diffuse.png
/assets/models/cottage_obj.mtl
/assets/models/cottage_obj.obj
/assets/models/double sopha wood back uv .jpg
/assets/models/double sopha wood back uv texture .jpg
/assets/models/double sopha wood base bace uv .jpg
/assets/models/double sopha wood base uv .jpg
/assets/models/double sopha wood right uv .jpg
/assets/models/double sopha wood right uv texture .jpg
/assets/models/floor uv texture.jpg
/assets/models/floor uv.jpg
/assets/models/house_interior.mtl
/assets/models/house_interior.obj
/assets/models/IN UV PAINTING texture 2.jpg
/assets/models/IN UV PAINTING texture 3.jpg
/assets/models/IN UV PAINTING TEXTURE.jpg
/assets/models/IN UV PAINTING.jpg
/assets/models/interior house 01.max
/assets/models/interior.mtl
/assets/models/interior.obj
/assets/models/InteriorTest.mtl
/assets/models/InteriorTest.obj
/assets/models/Mustang.obj
/assets/models/sopha wood uv texture.jpg
/assets/models/sopha wood uv.jpg
/assets/models/teble wood uv texture.jpg
/assets/models/teble wood uv.jpg
/assets/models/wall edge.jpg
/assets/models/wall texture.jpg
